@{
    ViewBag.Title = "Thankyou";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<!-- Thank you section -->
<section id="aa-error">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-error-area">
                    <h2>Cảm ơn quý khách</h2>
                    <span>Đơn hàng của bạn đã được hoàn thành thành công.</span>
                    <p>BookShopLKL Cửa hàng trực tuyến đáng tin cậy của bạn.</p>
                    <a href="@Url.Action("Index","Home")"> Đi đến trang chủ</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Thank you section -->
