<div class="row">
    <div class="col-8 mb-2">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Thao tác không thành công</strong> Xảy ra một số lỗi không mong muốn..
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="OK"></button>
        </div>
    </div>
</div>