<div class="row">
    <div class="col-8 mb-2">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Hoạt động được thực hiện</strong> Dữ liệu được chèn thành công!!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="OK"></button>
        </div>
    </div>
</div>